<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Your Logo Page Test Suite">
    <parameter name="browser" value="chrome">
    <test name="Adding item to shopping cart">
        <parameter name="productToSearch" value="dress"/>
        <classes>
            <class name="testcases.YourLogoHomeTest" >
                <methods>
                    <include name="addingItemToShoppingCartTest"/>
                </methods>
            </class>
        </classes>
    </test>

    <test name="Removing item inside shopping cart">
        <parameter name="productToSearch" value="dress"/>
        <classes>
            <class name="testcases.ShoppingCartTest" >
                <methods>
                    <include name="removeItemShoppingCart"/>
                </methods>
            </class>
        </classes>
    </test>

    <test name="Searching for an item existing">
        <parameter name="productToSearch" value="short"/>
        <classes>
            <class name="testcases.YourLogoHomeTest" >
                <methods>
                    <include name="searchingForProductExisting"/>
                </methods>
            </class>
        </classes>
    </test>

    <test name="Searching for an item that doesn't existing">
        <parameter name="productToSearch" value="camisa"/>
        <classes>
            <class name="testcases.YourLogoHomeTest" >
                <methods>
                    <include name="searchingForProductDoesntExisting"/>
                </methods>
            </class>
        </classes>
    </test>

    <test name="Validate Store Information">
        <parameter name="storeAddress" value="Selenium Framework, Research Triangle Park, North Carolina, USA"/>
        <parameter name="storePhoneNumber" value="(347) 466-7432"/>
        <parameter name="storeEmail" value="support@seleniumframework.com"/>
        <classes>
            <class name="testcases.YourLogoHomeTest" >
                <methods>
                    <include name="validateStoreInformation"/>
                </methods>
            </class>
        </classes>
    </test>
    </parameter>
</suite> <!-- Suite -->